.h2 {
  margin-top: 50px; /* Space above the h2 */
  margin-bottom: 20px; /* Space below the h2 */
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.h3 {
  margin-top: 30px; /* Space above the h3 */
  margin-bottom: 15px; /* Space below the h3 */
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.services p,
.services ul,
.services ol {
  margin-bottom: 1.5em; /* Increase gap between paragraphs, lists, and ordered lists */
}

.services ul,
.services ol {
  padding-left: 1.5em;
  margin-bottom: 1.5em; /* Add space below unordered and ordered lists */
}

.services ul li,
.services ol li {
  margin-bottom: 1em; /* Add space between list items */
}

.services {
  font-size: large;
  margin: 20px 0; /* Add vertical space around the services container */
}
